<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MathematicaCommands</key>
	<dict>
		<key>AAcute</key>
		<string>á</string>
		<key>ABar</key>
		<string>ā</string>
		<key>ACup</key>
		<string>ă</string>
		<key>ADoubleDot</key>
		<string>ä</string>
		<key>AE</key>
		<string>æ</string>
		<key>AGrave</key>
		<string>à</string>
		<key>AHat</key>
		<string>â</string>
		<key>Aleph</key>
		<string>ℵ</string>
		<key>AliasDelimiter</key>
		<string></string>
		<key>AliasIndicator</key>
		<string></string>
		<key>AlignmentMarker</key>
		<string></string>
		<key>Alpha</key>
		<string>α</string>
		<key>AltKey</key>
		<string></string>
		<key>And</key>
		<string>∧</string>
		<key>Angle</key>
		<string>∠</string>
		<key>Angstrom</key>
		<string>Å</string>
		<key>AquariusSign</key>
		<string>♒</string>
		<key>AriesSign</key>
		<string>♈</string>
		<key>ARing</key>
		<string>å</string>
		<key>AscendingEllipsis</key>
		<string>⋰</string>
		<key>ATilde</key>
		<string>ã</string>
		<key>AutoLeftMatch</key>
		<string></string>
		<key>AutoOperand</key>
		<string></string>
		<key>AutoPlaceholder</key>
		<string></string>
		<key>AutoRightMatch</key>
		<string></string>
		<key>AutoSpace</key>
		<string></string>
		<key>Backslash</key>
		<string>∖</string>
		<key>BeamedEighthNote</key>
		<string>♫</string>
		<key>BeamedSixteenthNote</key>
		<string>♬</string>
		<key>Because</key>
		<string>∵</string>
		<key>Bet</key>
		<string>ℶ</string>
		<key>Beta</key>
		<string>β</string>
		<key>BlackBishop</key>
		<string>♝</string>
		<key>BlackKing</key>
		<string>♚</string>
		<key>BlackKnight</key>
		<string>♞</string>
		<key>BlackPawn</key>
		<string>♟</string>
		<key>BlackQueen</key>
		<string>♛</string>
		<key>BlackRook</key>
		<string>♜</string>
		<key>Breve</key>
		<string>˘</string>
		<key>Bullet</key>
		<string>•</string>
		<key>CAcute</key>
		<string>ć</string>
		<key>CancerSign</key>
		<string>♋</string>
		<key>Cap</key>
		<string>⌢</string>
		<key>CapitalAAcute</key>
		<string>Á</string>
		<key>CapitalABar</key>
		<string>Ā</string>
		<key>CapitalACup</key>
		<string>Ă</string>
		<key>CapitalADoubleDot</key>
		<string>Ä</string>
		<key>CapitalAE</key>
		<string>Æ</string>
		<key>CapitalAGrave</key>
		<string>À</string>
		<key>CapitalAHat</key>
		<string>Â</string>
		<key>CapitalAlpha</key>
		<string>Α</string>
		<key>CapitalARing</key>
		<string>Å</string>
		<key>CapitalATilde</key>
		<string>Ã</string>
		<key>CapitalBeta</key>
		<string>Β</string>
		<key>CapitalCAcute</key>
		<string>Ć</string>
		<key>CapitalCCedilla</key>
		<string>Ç</string>
		<key>CapitalCHacek</key>
		<string>Č</string>
		<key>CapitalChi</key>
		<string>Χ</string>
		<key>CapitalDelta</key>
		<string>Δ</string>
		<key>CapitalDHacek</key>
		<string>Ď</string>
		<key>CapitalDifferentialD</key>
		<string></string>
		<key>CapitalDigamma</key>
		<string>Ϝ</string>
		<key>CapitalEAcute</key>
		<string>É</string>
		<key>CapitalEBar</key>
		<string>Ē</string>
		<key>CapitalECup</key>
		<string>Ĕ</string>
		<key>CapitalEDoubleDot</key>
		<string>Ë</string>
		<key>CapitalEGrave</key>
		<string>È</string>
		<key>CapitalEHacek</key>
		<string>Ě</string>
		<key>CapitalEHat</key>
		<string>Ê</string>
		<key>CapitalEpsilon</key>
		<string>Ε</string>
		<key>CapitalEta</key>
		<string>Η</string>
		<key>CapitalEth</key>
		<string>Ð</string>
		<key>CapitalGamma</key>
		<string>Γ</string>
		<key>CapitalIAcute</key>
		<string>Í</string>
		<key>CapitalICup</key>
		<string>Ĭ</string>
		<key>CapitalIDoubleDot</key>
		<string>Ï</string>
		<key>CapitalIGrave</key>
		<string>Ì</string>
		<key>CapitalIHat</key>
		<string>Î</string>
		<key>CapitalIota</key>
		<string>Ι</string>
		<key>CapitalKappa</key>
		<string>Κ</string>
		<key>CapitalKoppa</key>
		<string>Ϟ</string>
		<key>CapitalLambda</key>
		<string>Λ</string>
		<key>CapitalLSlash</key>
		<string>Ł</string>
		<key>CapitalMu</key>
		<string>Μ</string>
		<key>CapitalNHacek</key>
		<string>Ň</string>
		<key>CapitalNTilde</key>
		<string>Ñ</string>
		<key>CapitalNu</key>
		<string>Ν</string>
		<key>CapitalOAcute</key>
		<string>Ó</string>
		<key>CapitalODoubleAcute</key>
		<string>Ő</string>
		<key>CapitalODoubleDot</key>
		<string>Ö</string>
		<key>CapitalOE</key>
		<string>Œ</string>
		<key>CapitalOGrave</key>
		<string>Ò</string>
		<key>CapitalOHat</key>
		<string>Ô</string>
		<key>CapitalOmega</key>
		<string>Ω</string>
		<key>CapitalOmicron</key>
		<string>Ο</string>
		<key>CapitalOSlash</key>
		<string>Ø</string>
		<key>CapitalOTilde</key>
		<string>Õ</string>
		<key>CapitalPhi</key>
		<string>Φ</string>
		<key>CapitalPi</key>
		<string>Π</string>
		<key>CapitalPsi</key>
		<string>Ψ</string>
		<key>CapitalRHacek</key>
		<string>Ř</string>
		<key>CapitalRho</key>
		<string>Ρ</string>
		<key>CapitalSampi</key>
		<string>Ϡ</string>
		<key>CapitalSHacek</key>
		<string>Š</string>
		<key>CapitalSigma</key>
		<string>Σ</string>
		<key>CapitalStigma</key>
		<string>Ϛ</string>
		<key>CapitalTau</key>
		<string>Τ</string>
		<key>CapitalTHacek</key>
		<string>Ť</string>
		<key>CapitalTheta</key>
		<string>Θ</string>
		<key>CapitalThorn</key>
		<string>Þ</string>
		<key>CapitalUAcute</key>
		<string>Ú</string>
		<key>CapitalUDoubleAcute</key>
		<string>Ű</string>
		<key>CapitalUDoubleDot</key>
		<string>Ü</string>
		<key>CapitalUGrave</key>
		<string>Ù</string>
		<key>CapitalUHat</key>
		<string>Û</string>
		<key>CapitalUpsilon</key>
		<string>Υ</string>
		<key>CapitalURing</key>
		<string>Ů</string>
		<key>CapitalXi</key>
		<string>Ξ</string>
		<key>CapitalYAcute</key>
		<string>Ý</string>
		<key>CapitalZeta</key>
		<string>Ζ</string>
		<key>CapitalZHacek</key>
		<string>Ž</string>
		<key>CapricornSign</key>
		<string>♑</string>
		<key>CCedilla</key>
		<string>ç</string>
		<key>Cedilla</key>
		<string>¸</string>
		<key>CenterDot</key>
		<string>·</string>
		<key>CenterEllipsis</key>
		<string>⋯</string>
		<key>Cent</key>
		<string>¢</string>
		<key>CHacek</key>
		<string>č</string>
		<key>CheckedBox</key>
		<string>☒</string>
		<key>Checkmark</key>
		<string>✓</string>
		<key>Chi</key>
		<string>χ</string>
		<key>CircleDot</key>
		<string>⊙</string>
		<key>CircleMinus</key>
		<string>⊖</string>
		<key>CirclePlus</key>
		<string>⊕</string>
		<key>CircleTimes</key>
		<string>⊗</string>
		<key>ClockwiseContourIntegral</key>
		<string>∲</string>
		<key>CloseCurlyDoubleQuote</key>
		<string>”</string>
		<key>CloseCurlyQuote</key>
		<string>’</string>
		<key>CloverLeaf</key>
		<string>⌘</string>
		<key>ClubSuit</key>
		<string>♣</string>
		<key>Colon</key>
		<string>∶</string>
		<key>CommandKey</key>
		<string></string>
		<key>Conditioned</key>
		<string></string>
		<key>Congruent</key>
		<string>≡</string>
		<key>Conjugate</key>
		<string></string>
		<key>ConjugateTranspose</key>
		<string></string>
		<key>ConstantC</key>
		<string></string>
		<key>Continuation</key>
		<string></string>
		<key>ContourIntegral</key>
		<string>∮</string>
		<key>ControlKey</key>
		<string></string>
		<key>Coproduct</key>
		<string>∐</string>
		<key>Copyright</key>
		<string>©</string>
		<key>CounterClockwiseContourIntegral</key>
		<string>∳</string>
		<key>Cross</key>
		<string></string>
		<key>CupCap</key>
		<string>≍</string>
		<key>Cup</key>
		<string>⌣</string>
		<key>CurlyCapitalUpsilon</key>
		<string>ϒ</string>
		<key>CurlyEpsilon</key>
		<string>ε</string>
		<key>CurlyKappa</key>
		<string>ϰ</string>
		<key>CurlyPhi</key>
		<string>φ</string>
		<key>CurlyPi</key>
		<string>ϖ</string>
		<key>CurlyRho</key>
		<string>ϱ</string>
		<key>CurlyTheta</key>
		<string>ϑ</string>
		<key>Currency</key>
		<string>¤</string>
		<key>Dagger</key>
		<string>†</string>
		<key>Dalet</key>
		<string>ℸ</string>
		<key>Dash</key>
		<string>–</string>
		<key>Degree</key>
		<string>°</string>
		<key>DeleteKey</key>
		<string></string>
		<key>Del</key>
		<string>∇</string>
		<key>Delta</key>
		<string>δ</string>
		<key>DescendingEllipsis</key>
		<string>⋱</string>
		<key>DHacek</key>
		<string>ď</string>
		<key>Diameter</key>
		<string>⌀</string>
		<key>Diamond</key>
		<string>⋄</string>
		<key>DiamondSuit</key>
		<string>♢</string>
		<key>DifferenceDelta</key>
		<string></string>
		<key>DifferentialD</key>
		<string></string>
		<key>Digamma</key>
		<string>ϝ</string>
		<key>DirectedEdge</key>
		<string></string>
		<key>DiscreteRatio</key>
		<string></string>
		<key>DiscreteShift</key>
		<string></string>
		<key>DiscretionaryHyphen</key>
		<string>­</string>
		<key>DiscretionaryLineSeparator</key>
		<string></string>
		<key>DiscretionaryPageBreakAbove</key>
		<string></string>
		<key>DiscretionaryPageBreakBelow</key>
		<string></string>
		<key>DiscretionaryParagraphSeparator</key>
		<string></string>
		<key>Distributed</key>
		<string></string>
		<key>Divides</key>
		<string>∣</string>
		<key>Divide</key>
		<string>÷</string>
		<key>DotEqual</key>
		<string>≐</string>
		<key>DotlessI</key>
		<string>ı</string>
		<key>DotlessJ</key>
		<string></string>
		<key>DottedSquare</key>
		<string></string>
		<key>DoubleContourIntegral</key>
		<string>∯</string>
		<key>DoubleDagger</key>
		<string>‡</string>
		<key>DoubledGamma</key>
		<string></string>
		<key>DoubleDot</key>
		<string>¨</string>
		<key>DoubleDownArrow</key>
		<string>⇓</string>
		<key>DoubledPi</key>
		<string></string>
		<key>DoubleLeftArrow</key>
		<string>⇐</string>
		<key>DoubleLeftRightArrow</key>
		<string>⇔</string>
		<key>DoubleLeftTee</key>
		<string>⫤</string>
		<key>DoubleLongLeftArrow</key>
		<string>⟸</string>
		<key>DoubleLongLeftRightArrow</key>
		<string>⟺</string>
		<key>DoubleLongRightArrow</key>
		<string>⟹</string>
		<key>DoublePrime</key>
		<string>″</string>
		<key>DoubleRightArrow</key>
		<string>⇒</string>
		<key>DoubleRightTee</key>
		<string>⊨</string>
		<key>DoubleStruckA</key>
		<string></string>
		<key>DoubleStruckB</key>
		<string></string>
		<key>DoubleStruckC</key>
		<string></string>
		<key>DoubleStruckCapitalA</key>
		<string></string>
		<key>DoubleStruckCapitalB</key>
		<string></string>
		<key>DoubleStruckCapitalC</key>
		<string></string>
		<key>DoubleStruckCapitalD</key>
		<string></string>
		<key>DoubleStruckCapitalE</key>
		<string></string>
		<key>DoubleStruckCapitalF</key>
		<string></string>
		<key>DoubleStruckCapitalG</key>
		<string></string>
		<key>DoubleStruckCapitalH</key>
		<string></string>
		<key>DoubleStruckCapitalI</key>
		<string></string>
		<key>DoubleStruckCapitalJ</key>
		<string></string>
		<key>DoubleStruckCapitalK</key>
		<string></string>
		<key>DoubleStruckCapitalL</key>
		<string></string>
		<key>DoubleStruckCapitalM</key>
		<string></string>
		<key>DoubleStruckCapitalN</key>
		<string></string>
		<key>DoubleStruckCapitalO</key>
		<string></string>
		<key>DoubleStruckCapitalP</key>
		<string></string>
		<key>DoubleStruckCapitalQ</key>
		<string></string>
		<key>DoubleStruckCapitalR</key>
		<string></string>
		<key>DoubleStruckCapitalS</key>
		<string></string>
		<key>DoubleStruckCapitalT</key>
		<string></string>
		<key>DoubleStruckCapitalU</key>
		<string></string>
		<key>DoubleStruckCapitalV</key>
		<string></string>
		<key>DoubleStruckCapitalW</key>
		<string></string>
		<key>DoubleStruckCapitalX</key>
		<string></string>
		<key>DoubleStruckCapitalY</key>
		<string></string>
		<key>DoubleStruckCapitalZ</key>
		<string></string>
		<key>DoubleStruckD</key>
		<string></string>
		<key>DoubleStruckE</key>
		<string></string>
		<key>DoubleStruckEight</key>
		<string></string>
		<key>DoubleStruckF</key>
		<string></string>
		<key>DoubleStruckFive</key>
		<string></string>
		<key>DoubleStruckFour</key>
		<string></string>
		<key>DoubleStruckG</key>
		<string></string>
		<key>DoubleStruckH</key>
		<string></string>
		<key>DoubleStruckI</key>
		<string></string>
		<key>DoubleStruckJ</key>
		<string></string>
		<key>DoubleStruckK</key>
		<string></string>
		<key>DoubleStruckL</key>
		<string></string>
		<key>DoubleStruckM</key>
		<string></string>
		<key>DoubleStruckN</key>
		<string></string>
		<key>DoubleStruckNine</key>
		<string></string>
		<key>DoubleStruckO</key>
		<string></string>
		<key>DoubleStruckOne</key>
		<string></string>
		<key>DoubleStruckP</key>
		<string></string>
		<key>DoubleStruckQ</key>
		<string></string>
		<key>DoubleStruckR</key>
		<string></string>
		<key>DoubleStruckS</key>
		<string></string>
		<key>DoubleStruckSeven</key>
		<string></string>
		<key>DoubleStruckSix</key>
		<string></string>
		<key>DoubleStruckT</key>
		<string></string>
		<key>DoubleStruckThree</key>
		<string></string>
		<key>DoubleStruckTwo</key>
		<string></string>
		<key>DoubleStruckU</key>
		<string></string>
		<key>DoubleStruckV</key>
		<string></string>
		<key>DoubleStruckW</key>
		<string></string>
		<key>DoubleStruckX</key>
		<string></string>
		<key>DoubleStruckY</key>
		<string></string>
		<key>DoubleStruckZ</key>
		<string></string>
		<key>DoubleStruckZero</key>
		<string></string>
		<key>DoubleUpArrow</key>
		<string>⇑</string>
		<key>DoubleUpDownArrow</key>
		<string>⇕</string>
		<key>DoubleVerticalBar</key>
		<string>∥</string>
		<key>DownArrowBar</key>
		<string>⤓</string>
		<key>DownArrow</key>
		<string>↓</string>
		<key>DownArrowUpArrow</key>
		<string>⇵</string>
		<key>DownBreve</key>
		<string></string>
		<key>DownExclamation</key>
		<string>¡</string>
		<key>DownLeftRightVector</key>
		<string>⥐</string>
		<key>DownLeftTeeVector</key>
		<string>⥞</string>
		<key>DownLeftVector</key>
		<string>↽</string>
		<key>DownLeftVectorBar</key>
		<string>⥖</string>
		<key>DownPointer</key>
		<string>▾</string>
		<key>DownQuestion</key>
		<string>¿</string>
		<key>DownRightTeeVector</key>
		<string>⥟</string>
		<key>DownRightVector</key>
		<string>⇁</string>
		<key>DownRightVectorBar</key>
		<string>⥗</string>
		<key>DownTeeArrow</key>
		<string>↧</string>
		<key>DownTee</key>
		<string>⊤</string>
		<key>EAcute</key>
		<string>é</string>
		<key>Earth</key>
		<string></string>
		<key>EBar</key>
		<string>ē</string>
		<key>ECup</key>
		<string>ĕ</string>
		<key>EDoubleDot</key>
		<string>ë</string>
		<key>EGrave</key>
		<string>è</string>
		<key>EHacek</key>
		<string>ě</string>
		<key>EHat</key>
		<string>ê</string>
		<key>EighthNote</key>
		<string>♪</string>
		<key>Element</key>
		<string>∈</string>
		<key>Ellipsis</key>
		<string>…</string>
		<key>EmptyCircle</key>
		<string>○</string>
		<key>EmptyDiamond</key>
		<string>◇</string>
		<key>EmptyDownTriangle</key>
		<string>▽</string>
		<key>EmptyRectangle</key>
		<string>▯</string>
		<key>EmptySet</key>
		<string>∅</string>
		<key>EmptySmallCircle</key>
		<string>◦</string>
		<key>EmptySmallSquare</key>
		<string>◻</string>
		<key>EmptySquare</key>
		<string>□</string>
		<key>EmptyUpTriangle</key>
		<string>△</string>
		<key>EmptyVerySmallSquare</key>
		<string>▫</string>
		<key>EnterKey</key>
		<string></string>
		<key>EntityEnd</key>
		<string></string>
		<key>EntityStart</key>
		<string></string>
		<key>Epsilon</key>
		<string>ϵ</string>
		<key>Equal</key>
		<string></string>
		<key>EqualTilde</key>
		<string>≂</string>
		<key>Equilibrium</key>
		<string>⇌</string>
		<key>Equivalent</key>
		<string>⧦</string>
		<key>ErrorIndicator</key>
		<string></string>
		<key>EscapeKey</key>
		<string></string>
		<key>Eta</key>
		<string>η</string>
		<key>Eth</key>
		<string>ð</string>
		<key>Euro</key>
		<string>€</string>
		<key>Exists</key>
		<string>∃</string>
		<key>ExponentialE</key>
		<string></string>
		<key>FiLigature</key>
		<string>ﬁ</string>
		<key>FilledCircle</key>
		<string>●</string>
		<key>FilledDiamond</key>
		<string>◆</string>
		<key>FilledDownTriangle</key>
		<string>▼</string>
		<key>FilledLeftTriangle</key>
		<string>◀</string>
		<key>FilledRectangle</key>
		<string>▮</string>
		<key>FilledRightTriangle</key>
		<string>▶</string>
		<key>FilledSmallCircle</key>
		<string></string>
		<key>FilledSmallSquare</key>
		<string>◼</string>
		<key>FilledSquare</key>
		<string>■</string>
		<key>FilledUpTriangle</key>
		<string>▲</string>
		<key>FilledVerySmallSquare</key>
		<string>▪</string>
		<key>FinalSigma</key>
		<string>ς</string>
		<key>FirstPage</key>
		<string></string>
		<key>FivePointedStar</key>
		<string>★</string>
		<key>Flat</key>
		<string>♭</string>
		<key>FlLigature</key>
		<string>ﬂ</string>
		<key>Florin</key>
		<string>ƒ</string>
		<key>ForAll</key>
		<string>∀</string>
		<key>FormalA</key>
		<string></string>
		<key>FormalAlpha</key>
		<string></string>
		<key>FormalB</key>
		<string></string>
		<key>FormalBeta</key>
		<string></string>
		<key>FormalC</key>
		<string></string>
		<key>FormalCapitalA</key>
		<string></string>
		<key>FormalCapitalAlpha</key>
		<string></string>
		<key>FormalCapitalB</key>
		<string></string>
		<key>FormalCapitalBeta</key>
		<string></string>
		<key>FormalCapitalC</key>
		<string></string>
		<key>FormalCapitalChi</key>
		<string></string>
		<key>FormalCapitalD</key>
		<string></string>
		<key>FormalCapitalDelta</key>
		<string></string>
		<key>FormalCapitalDigamma</key>
		<string></string>
		<key>FormalCapitalE</key>
		<string></string>
		<key>FormalCapitalEpsilon</key>
		<string></string>
		<key>FormalCapitalEta</key>
		<string></string>
		<key>FormalCapitalF</key>
		<string></string>
		<key>FormalCapitalG</key>
		<string></string>
		<key>FormalCapitalGamma</key>
		<string></string>
		<key>FormalCapitalH</key>
		<string></string>
		<key>FormalCapitalI</key>
		<string></string>
		<key>FormalCapitalIota</key>
		<string></string>
		<key>FormalCapitalJ</key>
		<string></string>
		<key>FormalCapitalK</key>
		<string></string>
		<key>FormalCapitalKappa</key>
		<string></string>
		<key>FormalCapitalKoppa</key>
		<string></string>
		<key>FormalCapitalL</key>
		<string></string>
		<key>FormalCapitalLambda</key>
		<string></string>
		<key>FormalCapitalM</key>
		<string></string>
		<key>FormalCapitalMu</key>
		<string></string>
		<key>FormalCapitalN</key>
		<string></string>
		<key>FormalCapitalNu</key>
		<string></string>
		<key>FormalCapitalO</key>
		<string></string>
		<key>FormalCapitalOmega</key>
		<string></string>
		<key>FormalCapitalOmicron</key>
		<string></string>
		<key>FormalCapitalP</key>
		<string></string>
		<key>FormalCapitalPhi</key>
		<string></string>
		<key>FormalCapitalPi</key>
		<string></string>
		<key>FormalCapitalPsi</key>
		<string></string>
		<key>FormalCapitalQ</key>
		<string></string>
		<key>FormalCapitalR</key>
		<string></string>
		<key>FormalCapitalRho</key>
		<string></string>
		<key>FormalCapitalS</key>
		<string></string>
		<key>FormalCapitalSampi</key>
		<string></string>
		<key>FormalCapitalSigma</key>
		<string></string>
		<key>FormalCapitalStigma</key>
		<string></string>
		<key>FormalCapitalT</key>
		<string></string>
		<key>FormalCapitalTau</key>
		<string></string>
		<key>FormalCapitalTheta</key>
		<string></string>
		<key>FormalCapitalU</key>
		<string></string>
		<key>FormalCapitalUpsilon</key>
		<string></string>
		<key>FormalCapitalV</key>
		<string></string>
		<key>FormalCapitalW</key>
		<string></string>
		<key>FormalCapitalX</key>
		<string></string>
		<key>FormalCapitalXi</key>
		<string></string>
		<key>FormalCapitalY</key>
		<string></string>
		<key>FormalCapitalZ</key>
		<string></string>
		<key>FormalCapitalZeta</key>
		<string></string>
		<key>FormalChi</key>
		<string></string>
		<key>FormalCurlyCapitalUpsilon</key>
		<string></string>
		<key>FormalCurlyEpsilon</key>
		<string></string>
		<key>FormalCurlyKappa</key>
		<string></string>
		<key>FormalCurlyPhi</key>
		<string></string>
		<key>FormalCurlyPi</key>
		<string></string>
		<key>FormalCurlyRho</key>
		<string></string>
		<key>FormalCurlyTheta</key>
		<string></string>
		<key>FormalD</key>
		<string></string>
		<key>FormalDelta</key>
		<string></string>
		<key>FormalDigamma</key>
		<string></string>
		<key>FormalE</key>
		<string></string>
		<key>FormalEpsilon</key>
		<string></string>
		<key>FormalEta</key>
		<string></string>
		<key>FormalF</key>
		<string></string>
		<key>FormalFinalSigma</key>
		<string></string>
		<key>FormalG</key>
		<string></string>
		<key>FormalGamma</key>
		<string></string>
		<key>FormalH</key>
		<string></string>
		<key>FormalI</key>
		<string></string>
		<key>FormalIota</key>
		<string></string>
		<key>FormalJ</key>
		<string></string>
		<key>FormalK</key>
		<string></string>
		<key>FormalKappa</key>
		<string></string>
		<key>FormalKoppa</key>
		<string></string>
		<key>FormalL</key>
		<string></string>
		<key>FormalLambda</key>
		<string></string>
		<key>FormalM</key>
		<string></string>
		<key>FormalMu</key>
		<string></string>
		<key>FormalN</key>
		<string></string>
		<key>FormalNu</key>
		<string></string>
		<key>FormalO</key>
		<string></string>
		<key>FormalOmega</key>
		<string></string>
		<key>FormalOmicron</key>
		<string></string>
		<key>FormalP</key>
		<string></string>
		<key>FormalPhi</key>
		<string></string>
		<key>FormalPi</key>
		<string></string>
		<key>FormalPsi</key>
		<string></string>
		<key>FormalQ</key>
		<string></string>
		<key>FormalR</key>
		<string></string>
		<key>FormalRho</key>
		<string></string>
		<key>FormalS</key>
		<string></string>
		<key>FormalSampi</key>
		<string></string>
		<key>FormalSigma</key>
		<string></string>
		<key>FormalStigma</key>
		<string></string>
		<key>FormalT</key>
		<string></string>
		<key>FormalTau</key>
		<string></string>
		<key>FormalTheta</key>
		<string></string>
		<key>FormalU</key>
		<string></string>
		<key>FormalUpsilon</key>
		<string></string>
		<key>FormalV</key>
		<string></string>
		<key>FormalW</key>
		<string></string>
		<key>FormalX</key>
		<string></string>
		<key>FormalXi</key>
		<string></string>
		<key>FormalY</key>
		<string></string>
		<key>FormalZ</key>
		<string></string>
		<key>FormalZeta</key>
		<string></string>
		<key>FreakedSmiley</key>
		<string></string>
		<key>Function</key>
		<string></string>
		<key>Gamma</key>
		<string>γ</string>
		<key>GeminiSign</key>
		<string>♊</string>
		<key>Gimel</key>
		<string>ℷ</string>
		<key>GothicA</key>
		<string></string>
		<key>GothicB</key>
		<string></string>
		<key>GothicC</key>
		<string></string>
		<key>GothicCapitalA</key>
		<string></string>
		<key>GothicCapitalB</key>
		<string></string>
		<key>GothicCapitalC</key>
		<string>ℭ</string>
		<key>GothicCapitalD</key>
		<string></string>
		<key>GothicCapitalE</key>
		<string></string>
		<key>GothicCapitalF</key>
		<string></string>
		<key>GothicCapitalG</key>
		<string></string>
		<key>GothicCapitalH</key>
		<string>ℌ</string>
		<key>GothicCapitalI</key>
		<string>ℑ</string>
		<key>GothicCapitalJ</key>
		<string></string>
		<key>GothicCapitalK</key>
		<string></string>
		<key>GothicCapitalL</key>
		<string></string>
		<key>GothicCapitalM</key>
		<string></string>
		<key>GothicCapitalN</key>
		<string></string>
		<key>GothicCapitalO</key>
		<string></string>
		<key>GothicCapitalP</key>
		<string></string>
		<key>GothicCapitalQ</key>
		<string></string>
		<key>GothicCapitalR</key>
		<string>ℜ</string>
		<key>GothicCapitalS</key>
		<string></string>
		<key>GothicCapitalT</key>
		<string></string>
		<key>GothicCapitalU</key>
		<string></string>
		<key>GothicCapitalV</key>
		<string></string>
		<key>GothicCapitalW</key>
		<string></string>
		<key>GothicCapitalX</key>
		<string></string>
		<key>GothicCapitalY</key>
		<string></string>
		<key>GothicCapitalZ</key>
		<string>ℨ</string>
		<key>GothicD</key>
		<string></string>
		<key>GothicE</key>
		<string></string>
		<key>GothicEight</key>
		<string></string>
		<key>GothicF</key>
		<string></string>
		<key>GothicFive</key>
		<string></string>
		<key>GothicFour</key>
		<string></string>
		<key>GothicG</key>
		<string></string>
		<key>GothicH</key>
		<string></string>
		<key>GothicI</key>
		<string></string>
		<key>GothicJ</key>
		<string></string>
		<key>GothicK</key>
		<string></string>
		<key>GothicL</key>
		<string></string>
		<key>GothicM</key>
		<string></string>
		<key>GothicN</key>
		<string></string>
		<key>GothicNine</key>
		<string></string>
		<key>GothicO</key>
		<string></string>
		<key>GothicOne</key>
		<string></string>
		<key>GothicP</key>
		<string></string>
		<key>GothicQ</key>
		<string></string>
		<key>GothicR</key>
		<string></string>
		<key>GothicS</key>
		<string></string>
		<key>GothicSeven</key>
		<string></string>
		<key>GothicSix</key>
		<string></string>
		<key>GothicT</key>
		<string></string>
		<key>GothicThree</key>
		<string></string>
		<key>GothicTwo</key>
		<string></string>
		<key>GothicU</key>
		<string></string>
		<key>GothicV</key>
		<string></string>
		<key>GothicW</key>
		<string></string>
		<key>GothicX</key>
		<string></string>
		<key>GothicY</key>
		<string></string>
		<key>GothicZ</key>
		<string></string>
		<key>GothicZero</key>
		<string></string>
		<key>GrayCircle</key>
		<string></string>
		<key>GraySquare</key>
		<string></string>
		<key>GreaterEqualLess</key>
		<string>⋛</string>
		<key>GreaterEqual</key>
		<string>≥</string>
		<key>GreaterFullEqual</key>
		<string>≧</string>
		<key>GreaterGreater</key>
		<string>≫</string>
		<key>GreaterLess</key>
		<string>≷</string>
		<key>GreaterSlantEqual</key>
		<string>⩾</string>
		<key>GreaterTilde</key>
		<string>≳</string>
		<key>Hacek</key>
		<string>ˇ</string>
		<key>HappySmiley</key>
		<string>☺</string>
		<key>HBar</key>
		<string>ℏ</string>
		<key>HeartSuit</key>
		<string>♡</string>
		<key>HermitianConjugate</key>
		<string></string>
		<key>HorizontalLine</key>
		<string>─</string>
		<key>HumpDownHump</key>
		<string>≎</string>
		<key>HumpEqual</key>
		<string>≏</string>
		<key>Hyphen</key>
		<string>‐</string>
		<key>IAcute</key>
		<string>í</string>
		<key>ICup</key>
		<string>ĭ</string>
		<key>IDoubleDot</key>
		<string>ï</string>
		<key>IGrave</key>
		<string>ì</string>
		<key>IHat</key>
		<string>î</string>
		<key>ImaginaryI</key>
		<string></string>
		<key>ImaginaryJ</key>
		<string></string>
		<key>ImplicitPlus</key>
		<string></string>
		<key>Implies</key>
		<string></string>
		<key>IndentingNewLine</key>
		<string></string>
		<key>Infinity</key>
		<string>∞</string>
		<key>Integral</key>
		<string>∫</string>
		<key>Intersection</key>
		<string>⋂</string>
		<key>InvisibleApplication</key>
		<string></string>
		<key>InvisibleComma</key>
		<string></string>
		<key>InvisiblePostfixScriptBase</key>
		<string></string>
		<key>InvisiblePrefixScriptBase</key>
		<string></string>
		<key>InvisibleSpace</key>
		<string></string>
		<key>InvisibleTimes</key>
		<string>⁢</string>
		<key>Iota</key>
		<string>ι</string>
		<key>Jupiter</key>
		<string>♃</string>
		<key>Kappa</key>
		<string>κ</string>
		<key>KernelIcon</key>
		<string></string>
		<key>Koppa</key>
		<string>ϟ</string>
		<key>Lambda</key>
		<string>λ</string>
		<key>LastPage</key>
		<string></string>
		<key>LeftAngleBracket</key>
		<string>〈</string>
		<key>LeftArrowBar</key>
		<string>⇤</string>
		<key>LeftArrow</key>
		<string>←</string>
		<key>LeftArrowRightArrow</key>
		<string>⇆</string>
		<key>LeftAssociation</key>
		<string></string>
		<key>LeftBracketingBar</key>
		<string></string>
		<key>LeftCeiling</key>
		<string>⌈</string>
		<key>LeftDoubleBracket</key>
		<string>〚</string>
		<key>LeftDoubleBracketingBar</key>
		<string></string>
		<key>LeftDownTeeVector</key>
		<string>⥡</string>
		<key>LeftDownVectorBar</key>
		<string>⥙</string>
		<key>LeftDownVector</key>
		<string>⇃</string>
		<key>LeftFloor</key>
		<string>⌊</string>
		<key>LeftGuillemet</key>
		<string>«</string>
		<key>LeftModified</key>
		<string></string>
		<key>LeftPointer</key>
		<string>◂</string>
		<key>LeftRightArrow</key>
		<string>↔</string>
		<key>LeftRightVector</key>
		<string>⥎</string>
		<key>LeftSkeleton</key>
		<string></string>
		<key>LeftTee</key>
		<string>⊣</string>
		<key>LeftTeeArrow</key>
		<string>↤</string>
		<key>LeftTeeVector</key>
		<string>⥚</string>
		<key>LeftTriangle</key>
		<string>⊲</string>
		<key>LeftTriangleBar</key>
		<string>⧏</string>
		<key>LeftTriangleEqual</key>
		<string>⊴</string>
		<key>LeftUpDownVector</key>
		<string>⥑</string>
		<key>LeftUpTeeVector</key>
		<string>⥠</string>
		<key>LeftUpVector</key>
		<string>↿</string>
		<key>LeftUpVectorBar</key>
		<string>⥘</string>
		<key>LeftVector</key>
		<string>↼</string>
		<key>LeftVectorBar</key>
		<string>⥒</string>
		<key>LeoSign</key>
		<string>♌</string>
		<key>LessEqual</key>
		<string>≤</string>
		<key>LessEqualGreater</key>
		<string>⋚</string>
		<key>LessFullEqual</key>
		<string>≦</string>
		<key>LessGreater</key>
		<string>≶</string>
		<key>LessLess</key>
		<string>≪</string>
		<key>LessSlantEqual</key>
		<string>⩽</string>
		<key>LessTilde</key>
		<string>≲</string>
		<key>LetterSpace</key>
		<string></string>
		<key>LibraSign</key>
		<string>♎</string>
		<key>LightBulb</key>
		<string></string>
		<key>LineSeparator</key>
		<string> </string>
		<key>LongDash</key>
		<string>—</string>
		<key>LongEqual</key>
		<string></string>
		<key>LongLeftArrow</key>
		<string>⟵</string>
		<key>LongLeftRightArrow</key>
		<string>⟷</string>
		<key>LongRightArrow</key>
		<string>⟶</string>
		<key>LowerLeftArrow</key>
		<string>↙</string>
		<key>LowerRightArrow</key>
		<string>↘</string>
		<key>LSlash</key>
		<string>ł</string>
		<key>Mars</key>
		<string>♂</string>
		<key>MathematicaIcon</key>
		<string></string>
		<key>MeasuredAngle</key>
		<string>∡</string>
		<key>MediumSpace</key>
		<string> </string>
		<key>Mercury</key>
		<string>☿</string>
		<key>Mho</key>
		<string>℧</string>
		<key>Micro</key>
		<string>µ</string>
		<key>MinusPlus</key>
		<string>∓</string>
		<key>Mu</key>
		<string>μ</string>
		<key>Nand</key>
		<string>⊼</string>
		<key>Natural</key>
		<string>♮</string>
		<key>NegativeMediumSpace</key>
		<string></string>
		<key>NegativeThickSpace</key>
		<string></string>
		<key>NegativeThinSpace</key>
		<string></string>
		<key>NegativeVeryThinSpace</key>
		<string></string>
		<key>Neptune</key>
		<string>♆</string>
		<key>NestedGreaterGreater</key>
		<string>⪢</string>
		<key>NestedLessLess</key>
		<string>⪡</string>
		<key>NeutralSmiley</key>
		<string></string>
		<key>NewLine</key>
		<string>\n</string>
		<key>NHacek</key>
		<string>ň</string>
		<key>NoBreak</key>
		<string>⁠</string>
		<key>NonBreakingSpace</key>
		<string> </string>
		<key>Nor</key>
		<string>⊽</string>
		<key>NotCongruent</key>
		<string>≢</string>
		<key>NotCupCap</key>
		<string>≭</string>
		<key>NotDoubleVerticalBar</key>
		<string>∦</string>
		<key>NotElement</key>
		<string>∉</string>
		<key>NotEqual</key>
		<string>≠</string>
		<key>NotEqualTilde</key>
		<string></string>
		<key>NotExists</key>
		<string>∄</string>
		<key>NotGreater</key>
		<string>≯</string>
		<key>NotGreaterEqual</key>
		<string>≱</string>
		<key>NotGreaterFullEqual</key>
		<string>≩</string>
		<key>NotGreaterGreater</key>
		<string></string>
		<key>NotGreaterLess</key>
		<string>≹</string>
		<key>NotGreaterSlantEqual</key>
		<string></string>
		<key>NotGreaterTilde</key>
		<string>≵</string>
		<key>NotHumpDownHump</key>
		<string></string>
		<key>NotHumpEqual</key>
		<string></string>
		<key>NotLeftTriangle</key>
		<string>⋪</string>
		<key>NotLeftTriangleBar</key>
		<string></string>
		<key>NotLeftTriangleEqual</key>
		<string>⋬</string>
		<key>NotLessEqual</key>
		<string>≰</string>
		<key>NotLessFullEqual</key>
		<string>≨</string>
		<key>NotLessGreater</key>
		<string>≸</string>
		<key>NotLess</key>
		<string>≮</string>
		<key>NotLessLess</key>
		<string></string>
		<key>NotLessSlantEqual</key>
		<string></string>
		<key>NotLessTilde</key>
		<string>≴</string>
		<key>Not</key>
		<string>¬</string>
		<key>NotNestedGreaterGreater</key>
		<string></string>
		<key>NotNestedLessLess</key>
		<string></string>
		<key>NotPrecedes</key>
		<string>⊀</string>
		<key>NotPrecedesEqual</key>
		<string></string>
		<key>NotPrecedesSlantEqual</key>
		<string>⋠</string>
		<key>NotPrecedesTilde</key>
		<string>⋨</string>
		<key>NotReverseElement</key>
		<string>∌</string>
		<key>NotRightTriangle</key>
		<string>⋫</string>
		<key>NotRightTriangleBar</key>
		<string></string>
		<key>NotRightTriangleEqual</key>
		<string>⋭</string>
		<key>NotSquareSubset</key>
		<string></string>
		<key>NotSquareSubsetEqual</key>
		<string>⋢</string>
		<key>NotSquareSuperset</key>
		<string></string>
		<key>NotSquareSupersetEqual</key>
		<string>⋣</string>
		<key>NotSubset</key>
		<string>⊄</string>
		<key>NotSubsetEqual</key>
		<string>⊈</string>
		<key>NotSucceeds</key>
		<string>⊁</string>
		<key>NotSucceedsEqual</key>
		<string></string>
		<key>NotSucceedsSlantEqual</key>
		<string>⋡</string>
		<key>NotSucceedsTilde</key>
		<string>⋩</string>
		<key>NotSuperset</key>
		<string>⊅</string>
		<key>NotSupersetEqual</key>
		<string>⊉</string>
		<key>NotTilde</key>
		<string>≁</string>
		<key>NotTildeEqual</key>
		<string>≄</string>
		<key>NotTildeFullEqual</key>
		<string>≇</string>
		<key>NotTildeTilde</key>
		<string>≉</string>
		<key>NotVerticalBar</key>
		<string></string>
		<key>NTilde</key>
		<string>ñ</string>
		<key>Nu</key>
		<string>ν</string>
		<key>Null</key>
		<string></string>
		<key>NumberSign</key>
		<string></string>
		<key>OAcute</key>
		<string>ó</string>
		<key>ODoubleAcute</key>
		<string>ő</string>
		<key>ODoubleDot</key>
		<string>ö</string>
		<key>OE</key>
		<string>œ</string>
		<key>OGrave</key>
		<string>ò</string>
		<key>OHat</key>
		<string>ô</string>
		<key>Omega</key>
		<string>ω</string>
		<key>Omicron</key>
		<string>ο</string>
		<key>OpenCurlyDoubleQuote</key>
		<string>“</string>
		<key>OpenCurlyQuote</key>
		<string>‘</string>
		<key>OptionKey</key>
		<string></string>
		<key>Or</key>
		<string>∨</string>
		<key>OSlash</key>
		<string>ø</string>
		<key>OTilde</key>
		<string>õ</string>
		<key>OverBrace</key>
		<string>︷</string>
		<key>OverBracket</key>
		<string>⎴</string>
		<key>OverParenthesis</key>
		<string>︵</string>
		<key>Paragraph</key>
		<string>¶</string>
		<key>ParagraphSeparator</key>
		<string> </string>
		<key>PartialD</key>
		<string>∂</string>
		<key>PermutationProduct</key>
		<string></string>
		<key>Phi</key>
		<string>ϕ</string>
		<key>Pi</key>
		<string>π</string>
		<key>Piecewise</key>
		<string></string>
		<key>PiscesSign</key>
		<string>♓</string>
		<key>Placeholder</key>
		<string></string>
		<key>PlusMinus</key>
		<string>±</string>
		<key>Pluto</key>
		<string>♇</string>
		<key>Precedes</key>
		<string>≺</string>
		<key>PrecedesEqual</key>
		<string>⪯</string>
		<key>PrecedesSlantEqual</key>
		<string>≼</string>
		<key>PrecedesTilde</key>
		<string>≾</string>
		<key>Prime</key>
		<string>′</string>
		<key>Product</key>
		<string>∏</string>
		<key>Proportion</key>
		<string>∷</string>
		<key>Proportional</key>
		<string>∝</string>
		<key>Psi</key>
		<string>ψ</string>
		<key>QuarterNote</key>
		<string>♩</string>
		<key>RegisteredTrademark</key>
		<string>®</string>
		<key>ReturnIndicator</key>
		<string>↵</string>
		<key>ReturnKey</key>
		<string></string>
		<key>ReverseDoublePrime</key>
		<string>‶</string>
		<key>ReverseElement</key>
		<string>∋</string>
		<key>ReverseEquilibrium</key>
		<string>⇋</string>
		<key>ReversePrime</key>
		<string>‵</string>
		<key>ReverseUpEquilibrium</key>
		<string>⥯</string>
		<key>RHacek</key>
		<string>ř</string>
		<key>Rho</key>
		<string>ρ</string>
		<key>RightAngle</key>
		<string>∟</string>
		<key>RightAngleBracket</key>
		<string>〉</string>
		<key>RightArrow</key>
		<string>→</string>
		<key>RightArrowBar</key>
		<string>⇥</string>
		<key>RightArrowLeftArrow</key>
		<string>⇄</string>
		<key>RightAssociation</key>
		<string></string>
		<key>RightBracketingBar</key>
		<string></string>
		<key>RightCeiling</key>
		<string>⌉</string>
		<key>RightDoubleBracket</key>
		<string>〛</string>
		<key>RightDoubleBracketingBar</key>
		<string></string>
		<key>RightDownTeeVector</key>
		<string>⥝</string>
		<key>RightDownVector</key>
		<string>⇂</string>
		<key>RightDownVectorBar</key>
		<string>⥕</string>
		<key>RightFloor</key>
		<string>⌋</string>
		<key>RightGuillemet</key>
		<string>»</string>
		<key>RightModified</key>
		<string></string>
		<key>RightPointer</key>
		<string>▸</string>
		<key>RightSkeleton</key>
		<string></string>
		<key>RightTee</key>
		<string>⊢</string>
		<key>RightTeeArrow</key>
		<string>↦</string>
		<key>RightTeeVector</key>
		<string>⥛</string>
		<key>RightTriangle</key>
		<string>⊳</string>
		<key>RightTriangleBar</key>
		<string>⧐</string>
		<key>RightTriangleEqual</key>
		<string>⊵</string>
		<key>RightUpDownVector</key>
		<string>⥏</string>
		<key>RightUpTeeVector</key>
		<string>⥜</string>
		<key>RightUpVector</key>
		<string>↾</string>
		<key>RightUpVectorBar</key>
		<string>⥔</string>
		<key>RightVector</key>
		<string>⇀</string>
		<key>RightVectorBar</key>
		<string>⥓</string>
		<key>RoundImplies</key>
		<string>⥰</string>
		<key>RoundSpaceIndicator</key>
		<string></string>
		<key>Rule</key>
		<string></string>
		<key>RuleDelayed</key>
		<string></string>
		<key>SadSmiley</key>
		<string>☹</string>
		<key>SagittariusSign</key>
		<string>♐</string>
		<key>Sampi</key>
		<string>ϡ</string>
		<key>Saturn</key>
		<string>♄</string>
		<key>ScorpioSign</key>
		<string>♏</string>
		<key>ScriptA</key>
		<string></string>
		<key>ScriptB</key>
		<string></string>
		<key>ScriptC</key>
		<string></string>
		<key>ScriptCapitalA</key>
		<string></string>
		<key>ScriptCapitalB</key>
		<string>ℬ</string>
		<key>ScriptCapitalC</key>
		<string></string>
		<key>ScriptCapitalD</key>
		<string></string>
		<key>ScriptCapitalE</key>
		<string>ℰ</string>
		<key>ScriptCapitalF</key>
		<string>ℱ</string>
		<key>ScriptCapitalG</key>
		<string></string>
		<key>ScriptCapitalH</key>
		<string>ℋ</string>
		<key>ScriptCapitalI</key>
		<string>ℐ</string>
		<key>ScriptCapitalJ</key>
		<string></string>
		<key>ScriptCapitalK</key>
		<string></string>
		<key>ScriptCapitalL</key>
		<string>ℒ</string>
		<key>ScriptCapitalM</key>
		<string>ℳ</string>
		<key>ScriptCapitalN</key>
		<string></string>
		<key>ScriptCapitalO</key>
		<string></string>
		<key>ScriptCapitalP</key>
		<string></string>
		<key>ScriptCapitalQ</key>
		<string></string>
		<key>ScriptCapitalR</key>
		<string>ℛ</string>
		<key>ScriptCapitalS</key>
		<string></string>
		<key>ScriptCapitalT</key>
		<string></string>
		<key>ScriptCapitalU</key>
		<string></string>
		<key>ScriptCapitalV</key>
		<string></string>
		<key>ScriptCapitalW</key>
		<string></string>
		<key>ScriptCapitalX</key>
		<string></string>
		<key>ScriptCapitalY</key>
		<string></string>
		<key>ScriptCapitalZ</key>
		<string></string>
		<key>ScriptD</key>
		<string></string>
		<key>ScriptDotlessI</key>
		<string></string>
		<key>ScriptDotlessJ</key>
		<string></string>
		<key>ScriptE</key>
		<string>ℯ</string>
		<key>ScriptEight</key>
		<string></string>
		<key>ScriptF</key>
		<string></string>
		<key>ScriptFive</key>
		<string></string>
		<key>ScriptFour</key>
		<string></string>
		<key>ScriptG</key>
		<string>ℊ</string>
		<key>ScriptH</key>
		<string></string>
		<key>ScriptI</key>
		<string></string>
		<key>ScriptJ</key>
		<string></string>
		<key>ScriptK</key>
		<string></string>
		<key>ScriptL</key>
		<string>ℓ</string>
		<key>ScriptM</key>
		<string></string>
		<key>ScriptN</key>
		<string></string>
		<key>ScriptNine</key>
		<string></string>
		<key>ScriptO</key>
		<string>ℴ</string>
		<key>ScriptOne</key>
		<string></string>
		<key>ScriptP</key>
		<string></string>
		<key>ScriptQ</key>
		<string></string>
		<key>ScriptR</key>
		<string></string>
		<key>ScriptS</key>
		<string></string>
		<key>ScriptSeven</key>
		<string></string>
		<key>ScriptSix</key>
		<string></string>
		<key>ScriptT</key>
		<string></string>
		<key>ScriptThree</key>
		<string></string>
		<key>ScriptTwo</key>
		<string></string>
		<key>ScriptU</key>
		<string></string>
		<key>ScriptV</key>
		<string></string>
		<key>ScriptW</key>
		<string></string>
		<key>ScriptX</key>
		<string></string>
		<key>ScriptY</key>
		<string></string>
		<key>ScriptZ</key>
		<string></string>
		<key>ScriptZero</key>
		<string></string>
		<key>Section</key>
		<string>§</string>
		<key>SelectionPlaceholder</key>
		<string></string>
		<key>SHacek</key>
		<string>š</string>
		<key>Sharp</key>
		<string>♯</string>
		<key>ShortDownArrow</key>
		<string></string>
		<key>ShortLeftArrow</key>
		<string></string>
		<key>ShortRightArrow</key>
		<string></string>
		<key>ShortUpArrow</key>
		<string></string>
		<key>Sigma</key>
		<string>σ</string>
		<key>SixPointedStar</key>
		<string>✶</string>
		<key>SkeletonIndicator</key>
		<string>⁃</string>
		<key>SmallCircle</key>
		<string>∘</string>
		<key>SpaceIndicator</key>
		<string>␣</string>
		<key>SpaceKey</key>
		<string></string>
		<key>SpadeSuit</key>
		<string>♠</string>
		<key>SpanFromAbove</key>
		<string></string>
		<key>SpanFromBoth</key>
		<string></string>
		<key>SpanFromLeft</key>
		<string></string>
		<key>SphericalAngle</key>
		<string>∢</string>
		<key>Sqrt</key>
		<string>√</string>
		<key>Square</key>
		<string></string>
		<key>SquareIntersection</key>
		<string>⊓</string>
		<key>SquareSubset</key>
		<string>⊏</string>
		<key>SquareSubsetEqual</key>
		<string>⊑</string>
		<key>SquareSuperset</key>
		<string>⊐</string>
		<key>SquareSupersetEqual</key>
		<string>⊒</string>
		<key>SquareUnion</key>
		<string>⊔</string>
		<key>Star</key>
		<string>⋆</string>
		<key>Sterling</key>
		<string>£</string>
		<key>Stigma</key>
		<string>ϛ</string>
		<key>Subset</key>
		<string>⊂</string>
		<key>SubsetEqual</key>
		<string>⊆</string>
		<key>Succeeds</key>
		<string>≻</string>
		<key>SucceedsEqual</key>
		<string>⪰</string>
		<key>SucceedsSlantEqual</key>
		<string>≽</string>
		<key>SucceedsTilde</key>
		<string>≿</string>
		<key>SuchThat</key>
		<string>∍</string>
		<key>Sum</key>
		<string>∑</string>
		<key>Superset</key>
		<string>⊃</string>
		<key>SupersetEqual</key>
		<string>⊇</string>
		<key>SystemEnterKey</key>
		<string></string>
		<key>SystemsModelDelay</key>
		<string></string>
		<key>SZ</key>
		<string>ß</string>
		<key>TabKey</key>
		<string></string>
		<key>Tau</key>
		<string>τ</string>
		<key>TaurusSign</key>
		<string>♉</string>
		<key>TensorProduct</key>
		<string></string>
		<key>TensorWedge</key>
		<string></string>
		<key>THacek</key>
		<string>ť</string>
		<key>Therefore</key>
		<string>∴</string>
		<key>Theta</key>
		<string>θ</string>
		<key>ThickSpace</key>
		<string> </string>
		<key>ThinSpace</key>
		<string> </string>
		<key>Thorn</key>
		<string>þ</string>
		<key>Tilde</key>
		<string>∼</string>
		<key>TildeEqual</key>
		<string>≃</string>
		<key>TildeFullEqual</key>
		<string>≅</string>
		<key>TildeTilde</key>
		<string>≈</string>
		<key>Times</key>
		<string>×</string>
		<key>Trademark</key>
		<string>™</string>
		<key>Transpose</key>
		<string></string>
		<key>TripleDot</key>
		<string></string>
		<key>UAcute</key>
		<string>ú</string>
		<key>UDoubleAcute</key>
		<string>ű</string>
		<key>UDoubleDot</key>
		<string>ü</string>
		<key>UGrave</key>
		<string>ù</string>
		<key>UHat</key>
		<string>û</string>
		<key>UnderBrace</key>
		<string>︸</string>
		<key>UnderBracket</key>
		<string>⎵</string>
		<key>UnderParenthesis</key>
		<string>︶</string>
		<key>UndirectedEdge</key>
		<string></string>
		<key>Union</key>
		<string>⋃</string>
		<key>UnionPlus</key>
		<string>⊎</string>
		<key>UpArrow</key>
		<string>↑</string>
		<key>UpArrowBar</key>
		<string>⤒</string>
		<key>UpArrowDownArrow</key>
		<string>⇅</string>
		<key>UpDownArrow</key>
		<string>↕</string>
		<key>UpEquilibrium</key>
		<string>⥮</string>
		<key>UpperLeftArrow</key>
		<string>↖</string>
		<key>UpperRightArrow</key>
		<string>↗</string>
		<key>UpPointer</key>
		<string>▴</string>
		<key>Upsilon</key>
		<string>υ</string>
		<key>UpTee</key>
		<string>⊥</string>
		<key>UpTeeArrow</key>
		<string>↥</string>
		<key>Uranus</key>
		<string>⛢</string>
		<key>URing</key>
		<string>ů</string>
		<key>Vee</key>
		<string>⋁</string>
		<key>Venus</key>
		<string>♀</string>
		<key>VerticalBar</key>
		<string></string>
		<key>VerticalEllipsis</key>
		<string>⋮</string>
		<key>VerticalLine</key>
		<string>│</string>
		<key>VerticalSeparator</key>
		<string></string>
		<key>VerticalTilde</key>
		<string>≀</string>
		<key>VeryThinSpace</key>
		<string> </string>
		<key>VirgoSign</key>
		<string>♍</string>
		<key>WarningSign</key>
		<string></string>
		<key>WatchIcon</key>
		<string>⌚</string>
		<key>Wedge</key>
		<string>⋀</string>
		<key>WeierstrassP</key>
		<string>℘</string>
		<key>WhiteBishop</key>
		<string>♗</string>
		<key>WhiteKing</key>
		<string>♔</string>
		<key>WhiteKnight</key>
		<string>♘</string>
		<key>WhitePawn</key>
		<string>♙</string>
		<key>WhiteQueen</key>
		<string>♕</string>
		<key>WhiteRook</key>
		<string>♖</string>
		<key>Wolf</key>
		<string></string>
		<key>WolframLanguageLogo</key>
		<string></string>
		<key>WolframLanguageLogoCircle</key>
		<string></string>
		<key>Xi</key>
		<string>ξ</string>
		<key>Xnor</key>
		<string></string>
		<key>Xor</key>
		<string>⊻</string>
		<key>YAcute</key>
		<string>ý</string>
		<key>YDoubleDot</key>
		<string>ÿ</string>
		<key>Yen</key>
		<string>¥</string>
		<key>Zeta</key>
		<string>ζ</string>
		<key>ZHacek</key>
		<string>ž</string>
		<key>RawAmpersand</key>
		<string>&amp;</string>
		<key>RawAt</key>
		<string>@</string>
		<key>RawBackquote</key>
		<string>`</string>
		<key>RawBackslash</key>
		<string>\</string>
		<key>RawColon</key>
		<string>:</string>
		<key>RawComma</key>
		<string>,</string>
		<key>RawDash</key>
		<string>-</string>
		<key>RawDollar</key>
		<string>$</string>
		<key>RawDot</key>
		<string>.</string>
		<key>RawDoubleQuote</key>
		<string>&quot;</string>
		<key>RawEqual</key>
		<string>=</string>
		<key>RawEscape</key>
		<string></string>
		<key>RawExclamation</key>
		<string>!</string>
		<key>RawGreater</key>
		<string>&gt;</string>
		<key>RawLeftBrace</key>
		<string>{</string>
		<key>RawLeftBracket</key>
		<string>[</string>
		<key>RawLeftParenthesis</key>
		<string>(</string>
		<key>RawLess</key>
		<string>&lt;</string>
		<key>RawNumberSign</key>
		<string>#</string>
		<key>RawPercent</key>
		<string>%</string>
		<key>RawPlus</key>
		<string>+</string>
		<key>RawQuestion</key>
		<string>?</string>
		<key>RawQuote</key>
		<string>&apos;</string>
		<key>RawReturn</key>
		<string>
</string>
		<key>RawRightBrace</key>
		<string>}</string>
		<key>RawRightBracket</key>
		<string>]</string>
		<key>RawRightParenthesis</key>
		<string>)</string>
		<key>RawSemicolon</key>
		<string>;</string>
		<key>RawSlash</key>
		<string>/</string>
		<key>RawSpace</key>
		<string> </string>
		<key>RawStar</key>
		<string>*</string>
		<key>RawTab</key>
		<string>	</string>
		<key>RawTilde</key>
		<string>~</string>
		<key>RawUnderscore</key>
		<string>_</string>
		<key>RawVerticalBar</key>
		<string>|</string>
		<key>RawWedge</key>
		<string>^</string>
	</dict>
</dict>
</plist>
